<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.module_home">


    <application>
        <activity android:name="com.example.module_home.navigation.HomeContentActivity">
            <nav-graph android:value="@navigation/home_graph"/>
        </activity>
    </application>

</manifest>
