<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lv.library_core">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />


    <application>
        <!--        初始化项目-->
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge"
            tools:replace="android:authorities">
            <meta-data
                android:name="com.lv.library_core.startup.ComponentInitializer"
                android:value="@string/androidx_startup" />
            <meta-data
                android:name="com.lv.library_core.startup.LvHttpInitializer"
                android:value="@string/androidx_startup" />
            <meta-data
                android:name="com.lv.library_core.startup.UtilsInitializer"
                android:value="@string/androidx_startup" />
            <meta-data
                android:name="com.lv.library_core.startup.UMSDKInit"
                android:value="@string/androidx_startup" />
        </provider>


    </application>

</manifest>
